# Xcode
**/.DS_Store

## Build Generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
SkateSpotsMap.xcodeproj/project.xcworkspace/xcuserdata/
SkateSpotsMap.xcworkspace/xcuserdata/

## Other
*.moved-aside
*.xcuserstate
GoogleService-Info.plist

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

#amplify-do-not-edit-begin
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/logs
amplify/mock-data
amplify/mock-api-resources
amplify/backend/amplify-meta.json
amplify/backend/.temp
build/
dist/
node_modules/
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplifyconfiguration.dart
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig
.secret-*
**.sample
#amplify-do-not-edit-end
