<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCVIoa6Q1jJbNnLVUlxgwPUC43dSXOiD8c</string>
	<key>GCM_SENDER_ID</key>
	<string>267608662514</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>skaterdevs.SkateSpotsMap</string>
	<key>PROJECT_ID</key>
	<string>skatespotsmap67443</string>
	<key>STORAGE_BUCKET</key>
	<string>skatespotsmap67443.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:267608662514:ios:646bd7cdceed2d38abcb6b</string>
</dict>
</plist>